---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
  annotations:
    argocd.argoproj.io/sync-wave: '1'
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: admin@moebi.io  # TODO: Change to your email
    privateKeySecretRef:
      name: letsencrypt-staging-account-key
    solvers:
      - http01:
          ingress:
            class: traefik
