---
# Gatus configuration
replicaCount: 1
image:
  tag: v5.34.0
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  path: /
  pathType: Prefix
  hosts: [status.infomaniak.moebi.io]
  tls:
    - secretName: gatus-tls
      hosts: [status.infomaniak.moebi.io]
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi
securityContext:
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532
  seccompProfile:
    type: RuntimeDefault
containerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop: [ALL]
config:
  storage:
    type: sqlite
    path: /data/data.db
  endpoints:
    - name: Vault
      group: infrastructure
      url: https://vault.infomaniak.moebi.io
      interval: 1m
      conditions: ['[STATUS] == 200', '[RESPONSE_TIME] < 2000']
    - name: ArgoCD
      group: infrastructure
      url: https://argocd.infomaniak.moebi.io
      interval: 1m
      conditions: ['[STATUS] == 200', '[RESPONSE_TIME] < 2000']
    - name: Gatus
      group: infrastructure
      url: https://status.infomaniak.moebi.io
      interval: 1m
      conditions: ['[STATUS] == 200', '[RESPONSE_TIME] < 2000']
persistence:
  enabled: true
  size: 1Gi
  accessModes: [ReadWriteOnce]
