---
# EPAM Keycloak Config Operator
name: keycloak-config-operator
resources:
  limits:
    memory: 192Mi
  requests:
    cpu: 50m
    memory: 64Mi
securityContext:
  runAsNonRoot: true
containerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop: [ALL]
# Disable webhooks if cert-manager is not available for this
enableWebhooks: false
